<h1>User info</h1>
<!-- form_with部分 -->
  <h4>Name</h4>
  <%= f.text_field :title %>
  <h4>image</h4>
  <%= f.submit 'ファイルを選択' %>
  <h4>Introduction</h4>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Update User' %>
<% end %>